{% load i18n %}
{% load static %}
{% get_current_language as CURRENT_LANG %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/booking_confirmed/booking_confirmed_mobile.css' %}"/>

    <title>{% trans 'booking_confirmed' %}</title>
</head>
<body>
<div class="page-container">
    <div class="form-div">
        <div class="form_main">
            {% if status == 'reservation_cancelled' %}
                <p class="heading" id="heading">{% trans "booking_cancelled" %}</p> <br>
                <a class="goHomeLink"
                   href="{% url 'bookingsystem:index' %}">{% trans 'go_to_home' %}</a>
            {% elif status == 'booking_confirmed' %}
                <p class="heading" id="heading">{% trans "booking_confirmed" %}</p> <br>
                <p class="subHeading">{{ restaurant }}</p>
                <p class="reservation-info">
                    {% trans "reservation_date" %}: {{ reservation_date|date:"d-m-Y" }} <br>
                    {% trans "start_time" %}: {{ start_time|time:"H:i" }} <br>
                    {% trans "number_of_persons" %}: {{ number_of_persons }} <br>
                    {% trans "name" %}: {{ name }} <br>
                    {% trans "email_adress" %}: {{ email_adress }} <br>
                    {% trans "telephone_number" %}: {{ telephone_number }} <br>
                    {% trans "reservation_number" %}: {{ reservationID }}
                </p>
                <div class="linksdiv">
                    <a class="gotoWebsiteLink" href="{{ restaurant_website }}"
                       target="_blank">{% trans 'go_to_website' %}</a>
                    <a class="cancelLink" href="#"
                       onclick="confirmCancellation('{{ reservationID }}')">{% trans 'cancel_reservation' %}</a>
                </div>
            {% endif %}


        </div>
    </div>
</div>
<script>
    function confirmCancellation(reservationID) {
        if (confirm("{% trans 'are_you_sure_you_want_to_delete_your_reservation' %}")) {
            // If the user confirms, navigate to the cancellation page.
            window.location.href = "{% url 'bookingsystem:delete_reservation' %}?reservationID=" + reservationID + "&path=confirmed_booking";
        } else {
            // If the user cancels, do nothing or provide feedback.
            {#alert('Cancellation canceled');#}
        }
    }
</script>
</body>
</html>