{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="{% static 'stylesheets/restaurant_portal/table_management/table_management_tablet.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>
<div class="table-management-header-div">
    <h1 class="table-management-header">{% trans 'table_management' %}</h1>
</div>
<div class="table-management-container">
    <div class="tables-container">
        {% for table in tables %}
            <div class="table" data-table-id="{{ table.id }}"
                 data-table-nr="{{ table.table_nr }}" hx-get="{% url 'bookingsystem:get_table_bill' table.id %}"
                 hx-trigger="click" hx-target=".table-bill-div">{{ table.table_nr }}</div>
        {% endfor %}
    </div>
    <div class="table-bill-div" id="table-bill-div">
        <h3 id="select-table-header">{% trans 'select_table' %}</h3>
    </div>
    <div class="dishes-container">
        <h4 class="table-nr" id="table-nr" data-table-id="">{% trans 'table_nr' %}: </h4>
        {% for course, dishes in course_dishes.items %}
            <div class="course-div">
                <button class="course-button" onclick="showDishes({{ dishes|safe }})">{{ course.name }}</button>
                {{ dishes.name }}
            </div>
        {% endfor %}

        <div class="selected-course-dishes" id="selected-course-dishes">
            {% csrf_token %}
            <!-- The content of selected table's dishes will be displayed here -->
        </div>
    </div>
</div>

<script>
    function showDishes(course_dishes) {
        const target = document.getElementById('selected-course-dishes');
        target.innerHTML = ''
        const allDishesDiv = document.createElement('div');
        allDishesDiv.className = 'all-dishes-div'
        course_dishes.forEach(function (dish) {
            const dishDiv = document.createElement('div');
            dishDiv.className = 'dish-div'
            const dishButton = document.createElement('button')
            dishButton.innerHTML = `<div class="dish-name">${dish.name}</div>`
            dishButton.className = 'dish-button'
            dishButton.setAttribute('hx-headers', '{ "X-CSRFToken": "{{ csrf_token }}" }'); // Replace with the appropriate token source
            // pass dish and table
            dishButton.onclick = function () {
                addDishToTable(dish);
            };


            dishDiv.appendChild(dishButton)
            allDishesDiv.appendChild(dishDiv)
        })
        target.appendChild(allDishesDiv)
    }

    function addDishToTable(dish) {
        console.log('dish', dish)
        const table_id = document.getElementById('table-nr').getAttribute('data-table-id').toString()
        console.log(table_id)
        const dish_id = dish.id.toString()
        const url = `/add_dish_to_table/${dish_id}/${table_id}/`;

        $.ajax({
            url: url,
            method: 'POST',
            headers: {"X-CSRFToken": "{{ csrf_token }}"},
            success: function (response) {
                const tableNrValue = response.table_nr;
                const tableElement = document.querySelector(`[data-table-nr="${tableNrValue}"]`);
                if (tableElement) {
                    tableElement.click();
                }
            }
        });
    }

    function removeDishFromTable(order_id, course_id, dish_id, table_id, current_quantity) {
        const url = `/remove_dish_from_table/${order_id}/${table_id}/${current_quantity}`;
        $.ajax({
            url: url,
            method: 'POST',
            headers: {"X-CSRFToken": "{{ csrf_token }}"},
            success: function (response) {
                console.log('response', response)
                const tableNrValue = response.table_nr;
                const tableElement = document.querySelector(`[data-table-nr="${tableNrValue}"]`);
                if (tableElement) {
                    tableElement.click();
                }
            }
        });
    }

    function clearTable() {
        const table_id = document.getElementById('table-nr').getAttribute('data-table-id').toString()
        console.log(table_id)
        const url = `/clear_table/${table_id}`;

        $.ajax({
            url: url,
            method: 'POST',
            headers: {"X-CSRFToken": "{{ csrf_token }}"},
            success: function (response) {
                console.log('response', response)
                const tableNrValue = response.table_nr;
                const tableElement = document.querySelector(`[data-table-nr="${tableNrValue}"]`);
                if (tableElement) {
                    tableElement.click();
                }
            }
        });
    }


    document.addEventListener('DOMContentLoaded', function () {
        const tables = document.querySelectorAll('.table');

        tables.forEach(function (table) {
            table.addEventListener('click', function () {
                const tableNumber = table.getAttribute('data-table-nr');
                const tableId = table.getAttribute('data-table-id')
                const tableNumberElement = document.getElementById('table-nr');
                tableNumberElement.textContent = `{% trans 'table_nr' %}: ${tableNumber}`;
                tableNumberElement.setAttribute('data-table-id', tableId);

            });
        });
    });

    document.addEventListener('htmx:afterRequest', function (evt) {
        const responseData = evt.detail.xhr.response;
        const parsedData = JSON.parse(responseData);
        const target = document.getElementById('table-bill-div');

        target.innerHTML = '';
        const orderDiv = document.createElement('table');
        orderDiv.className = 'order-table'
        const thead = document.createElement('thead');

        const headerRow = document.createElement('tr');
        const dishNameHeader = document.createElement('th');
        dishNameHeader.textContent = '{% trans 'dish_name' %}';
        dishNameHeader.className = 'dish-name-header header'
        const dishQuantityHeader = document.createElement('th');
        dishQuantityHeader.textContent = '{% trans 'quantity' %}';
        dishQuantityHeader.className = 'dish-quantity-header header'
        const dishAmountHeader = document.createElement('th');
        dishAmountHeader.textContent = '{% trans 'amount' %}';
        dishAmountHeader.className = 'dish-amount-header header'

// Append the headers to the header row
        headerRow.appendChild(dishNameHeader);
        headerRow.appendChild(dishQuantityHeader);
        headerRow.appendChild(dishAmountHeader);

// Append the header row to the table header
        thead.appendChild(headerRow);
        const tbody = document.createElement('tbody');

        parsedData.orders.forEach(function (orderline) {
            const orderlineRow = document.createElement('tr');
            orderlineRow.className = 'orderline-row'
            orderlineRow.onclick = function () {
                console.log('orderlline', orderline)
                removeDishFromTable(orderline.id, orderline.course_id, orderline.dish_id, orderline.table_id, orderline.quantity)
            }

            const dishNameCell = document.createElement('td');
            dishNameCell.className = 'dish-name';
            dishNameCell.textContent = orderline.dish__name;
            orderlineRow.appendChild(dishNameCell);

            // Create and append dish quantity cell
            const dishQuantityCell = document.createElement('td');
            dishQuantityCell.className = 'dish-quantity';
            dishQuantityCell.textContent = orderline.quantity;
            orderlineRow.appendChild(dishQuantityCell);

            // Create and append dish amount cell
            const dishAmountCell = document.createElement('td');
            dishAmountCell.className = 'dish-amount';
            dishAmountCell.textContent = `€ ${orderline.amount}`;
            orderlineRow.appendChild(dishAmountCell);

            // Append the orderline row to the table body
            tbody.appendChild(orderlineRow);
        })
        const tableTotal = document.createElement('tfoot')
        tableTotal.className = 'table-total'
        const tableTotalLabel = document.createElement('td')
        tableTotalLabel.textContent = '{% trans 'total' %} '
        const tableTotalQuantity = document.createElement('td')
        tableTotalQuantity.textContent = ''
        const tableTotalAmount = document.createElement('td')
        tableTotalAmount.textContent = '€ ' + parsedData.total_amount
        tableTotal.appendChild(tableTotalLabel)
        tableTotal.appendChild(tableTotalQuantity)
        tableTotal.appendChild(tableTotalAmount)

        orderDiv.appendChild(thead);
        orderDiv.appendChild(tbody);
        orderDiv.appendChild(tableTotal)
        target.appendChild(orderDiv)

        const clearTableButton = document.createElement('button')
        clearTableButton.innerHTML = "{% trans 'clear_table' %}"
        clearTableButton.className = 'clear-table-button'
        clearTableButton.onclick = function () {
            clearTable();
        };
        target.appendChild(clearTableButton)
    })


</script>
</body>
</html>