{% load i18n %}
{#<h2>{{ request.user_agent }}</h2>#}
{% if user.is_authenticated %}
    {% if status != 'no_restaurant_known_for_user' %}
        {% if request.user_agent.is_pc %}
            {% include 'restaurant_portal/custom_restaurant_availability/custom_restaurant_availability_desktop.html' %}
        {% endif %}
        {% if request.user_agent.is_mobile %}
            {% include 'restaurant_portal/custom_restaurant_availability/custom_restaurant_availability_mobile.html' %}
        {% endif %}
        {% if request.user_agent.is_tablet %}
            {% include 'restaurant_portal/custom_restaurant_availability/custom_restaurant_availability_tablet.html' %}
        {% endif %}
    {% else %}
        <h1>{% trans 'restaurant_not_confirmed_yet' %}</h1>
    {% endif %}
{% else %}
    <a href="{% url 'login' %}">Go to login page</a>
{% endif %}