{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'stylesheets/restaurant_portal/restaurant_portal_desktop.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/components/sidebar.css' %}"/>

    <title>{% trans 'we_book_system' %}</title>
</head>
<body>
<div class="page-container">
    <div class="welcome-title-div">
        <span class="welcome-title">{% trans 'welcome' %}, {{ request.session.restaurant_name }}</span>
        {% include 'components/sidebar.html' %}
    </div>
    <div class="contents">
        {% if action %}
            {% include action %}
        {% endif %}
    </div>
</div>
</body>
</html>