
#add-availability-div {
    display: none;
    border: 1px solid grey;
    padding: 1%;
    /*width: 70%;*/
}

.availability-header-div {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.availabilitys-header {
    margin-left: 2%;
    float: left;
    /*width: 40%;*/
}

form {
    margin-left: 1%;
}

.information-icon-div {
    float: right;
}

.fa-question-circle {
    font-size: 1em;
}

.information-text {
    display: none;
    float: right;
    top: 0;
    right: 25%;
    position: absolute;
    background-color: #e8e8e8;
    border: 1px solid #2e2e2e;
    font-size: 15px;
    width: 25%;
    padding: 1%;
    border-radius: 2%;
    font-weight: 100;
    z-index: 99;
}

.information-icon-div:hover + .information-text {
    display: block;
}

.add-availabilities-button {
    display: block;
    float: right;
    background-color: rgba(74, 159, 107, 0.6);
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1em;
    padding: 1%;
    font-weight: 400;
    outline: none;
    outline: 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.add-availability-button {
    display: block;
    float: right;
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    /*padding: 10px 25px;*/
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 2%;
}

.add-custom-availability-button {
    display: block;
    /*float: right;*/
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1em;
    padding: 1%;
    font-weight: 400;
    outline: none;
    outline: 0;
    /*padding: 10px 25px;*/
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 2%;
    margin-top: 1%;
}

.add-availability-form {
    margin-bottom: 2%;
    margin-top: 1%;
    padding-left: 1%;
    font-size: 1.2em;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-left: 1%;
}

.input-field {
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: white;
    appearance: none;
    margin-right: 10px;
    position: relative;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 5px;
    font-weight: 400;
    min-height: 24px;
    width: 110px;
    transition: all .2s ease;
}

.input-field :hover {
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}

.input-field :focus {
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}

.all-availability-div {
    /*width: 70%;*/
}

.update-availability-button {
    display: block;
    margin-top: 1%;
    /*float: left;*/
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 2%;
}

.delete-button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    font-size: 0.9em;
    margin: 1%;
    padding: 1%;
}

.delete-button:hover,
.delete-button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.delete-button:active {
    opacity: .5;
}
