{% load custom_filters %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="{% static 'stylesheets/restaurant_portal/show_reservations/show_reservations_desktop.css' %}">
</head>
<body>
<h2 class="reservation-header">{% trans 'current_reservations' %}</h2>

<div class="reservation-container">
    <div class="reservation-list">
        {% if deleted_reservation %}
            <div class="deleted-reservation-div">
                <h3>{% trans 'deleted_reservation' %} {{ deleted_reservation }}</h3>
                <button class="hide-deletion-message-button" onclick="hideMessage()">{% trans 'hide_message' %}</button>
                <a class="rollback-deletion-link"
                   href="{% url 'bookingsystem:rollback_deletion' %}?reservationID={{ deleted_reservation }}"
                   onclick="rollbackDeletion()">{% trans 'rollback_deletion' %}</a>
            </div>
        {% endif %}
        {% if rolled_back_deletion %}
            <div class="deleted-reservation-div">
                <h3>{% trans 'rolled_back_deletion' %} {{ rolled_back_deletion }}</h3>
                <button class="hide-deletion-message-button" onclick="hideMessage()">{% trans 'hide_message' %}</button>
            </div>
        {% endif %}
        {% for date in dates %}
            <hr>
            <div id="day-div-{{ date|date:"d" }}{{ date|date:"m" }}">
                <div id="reservation-date-{{ date|date:"d" }}{{ date|date:"m" }}">{{ date|date:"j F Y" }}
                    {{ date|date:"d-m" }}
                    <button onclick="toggleDate('{{ date|date:"d" }}{{ date|date:"m" }}')"
                            id="toggle-date-button-{{ date|date:"d" }}{{ date|date:"m" }}"
                            class="toggle-date-button">{% trans 'hide_date' %}</button>
                </div>
                <hr>
                <table class="reservations-table">
                    <thead class="reservation-table-thead">
                    <tr class="reservation-table-header-row">
                        {% for table in tables %}
                            <th class="table-nr">{{ table }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody class="reservation-table-body">
                    {% for key, values in all_reservations_dict.items %}
                        {% if key == date|date:"Y-m-d" %}
                            {% for dict in values %}
                                <tr class="reservation-table-body-row">
                                    {% for key, value in dict.items %}
                                        <td class="reservation-table-value-{{ value.0 }}">
                                            {{ value }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</div>


<script>
    function hideMessage() {
        const deletedReservationDiv = document.querySelectorAll('.deleted-reservation-div')
        deletedReservationDiv.forEach(content => {
            content.style.display = 'none'
        })
    }

    function rollbackDeletion() {
        const deletedReservationDiv = document.querySelectorAll('.deleted-reservation-div')
        deletedReservationDiv.forEach(content => {
            content.innerHTML = '{% trans 'rolled_back_deletion' %}'
        })
    }

    function toggleDate(date) {
        console.log('date', date)
        const dayDiv = document.getElementById('day-div-' + date);
        const toggleDateButton = document.getElementById('toggle-date-button-' + date);
        console.log(dayDiv)

        if (dayDiv.style.height === '23px') {
            dayDiv.style.height = '100%';
            toggleDateButton.innerHTML = "{% trans 'hide_date' %}";
        } else {
            dayDiv.style.height = '23px';
            dayDiv.style.overflow = 'hidden';
            toggleDateButton.innerHTML = "{% trans 'show_date' %}";
        }

    }

</script>
{#<script>#}
{##}
{#    // Get all toggle buttons and content elements#}
{#    const toggleDateButtons = document.querySelectorAll('.toggle-date-button');#}
{#    const dateContentDivs = document.querySelectorAll('.day-div');#}
{##}
{#    dateContentDivs.forEach(content => {#}
{#        content.style.display = 'none';#}
{#    });#}
{#    // Add event listeners to each toggle button#}
{#    toggleDateButtons.forEach((button, index) => {#}
{#        button.addEventListener('click', () => {#}
{#            if (dateContentDivs[index].style.display === 'none') {#}
{#                dateContentDivs[index].style.display = 'block';#}
{#                toggleDateButtons[index].classList.add('active')#}
{#                toggleDateButtons[index].innerHTML = "{% trans 'show_date' %}";#}
{#            } else {#}
{#                dateContentDivs[index].style.display = 'none';#}
{#                toggleDateButtons[index].classList.remove('active')#}
{#            }#}
{#        });#}
{#    });#}
{##}
{#</script>#}
<script>

    // Get all toggle buttons and content elements
    const toggleButtons = document.querySelectorAll('.toggle-customer-info-button');
    const contentDivs = document.querySelectorAll('.customer-info');

    contentDivs.forEach(content => {
        content.style.display = 'none';
    });
    // Add event listeners to each toggle button
    toggleButtons.forEach((button, index) => {
        button.addEventListener('click', () => {
            if (contentDivs[index].style.display === 'none') {
                contentDivs[index].style.display = 'block';
                toggleButtons[index].classList.add('active')
                toggleButtons[index].innerHTML = "{% trans 'hide_customer_info' %}";
            } else {
                contentDivs[index].style.display = 'none';
                toggleButtons[index].classList.remove('active')
            }
        });
    });

</script>
</body>
</html>