{% load i18n %}
{% load static %}
{% get_current_language as CURRENT_LANG %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/login/login_mobile.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/components/footer.css' %}"/>
{#    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/components/language_picker.css' %}"/>#}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>{% trans 'login' %}</title>
</head>
<body>
<div class="page-container">
    <div class="form-div">
        <form class="login-form form_main" role="form" method="POST">
            <p class="heading">{% trans "partner_login" %}</p>
            {% csrf_token %}
            <div class="login-form-contents">
                {{ form.as_p }}
            </div>
            <button class="login-button" role="button">{% trans 'login' %}</button>
            <div class="language-picker-div">
                {% include 'components/language_picker.html' %}
            </div>
        </form>
    </div>
    {% include 'components/footer.html' %}
</div>
</body>
</html>