{% load i18n %}
{% load static %}
{% get_current_language as CURRENT_LANG %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/booking_confirmation_desktop.css' %}"/>

    <title>Title</title>
</head>
<body>
<div class="page-container">
    {#    <h1>{{ status }}</h1>#}
    {% if held_reservation_id %}
        <div class="form-div">

            {#        <form action="./confirm_booking?reservationID={{ held_reservation_id }}" method="post" class="form_main">#}
            {#            {% csrf_token %}#}
            {#            {{ confirmation_form.name }}#}
            {#            {{ confirmation_form.email }}#}
            {#            {{ confirmation_form.telephone_nr }}#}
            {#            <button type="submit">{% trans "make_reservation" %}</button>#}
            {#        </form>#}


            {#        <div class="page-container">#}
            {#        <div class="form-div">#}
            <form action="./confirm_booking?reservationID={{ held_reservation_id }}" method="post"
                  class="form_main">
                {% csrf_token %}
                <p class="heading">{% trans "possible_reservation_found" %}</p> <br>
                <p class="reservation-info">
                    {% trans "reservation_date" %}: {{ reservation_date|date:"d-m-Y" }} <br>
                    {% trans "start_time" %}: {{ start_time|time:"H:i" }} <br>
                    {% trans "number_of_persons" %}: {{ number_of_persons }}
                </p>
                <div class="inputContainer">
                    <svg class="inputIcon bi bi-person" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor"
                         viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                    </svg>


                    <input type="number" class="inputField" id="name" placeholder="{% trans "name" %}"
                           name="name">
                </div>

                <div class="inputContainer">
                    <svg class="inputIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2e2e2e"
                         viewBox="0 0 16 16">
                        <path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"></path>
                    </svg>


                    <input type="email" class="inputField" id="email" name="email"
                           placeholder="{% trans "email" %}">
                </div>

                <div class="inputContainer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="inputIcon bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>


                    <input type="tel" class="inputField" id="telephone_nr" name="telephone_nr"
                           placeholder="{% trans "telephone_nr" %}">
                </div>

                <button class="submit-button" id="button">Submit</button>


                <div class="language-picker-div">
                    {#                <a href="/{{ lang.code }}/">{{ lang.name_local }}#}
                    <img class="lang-img" src="{% static 'language_icons/' %}{{ CURRENT_LANG }}.png"
                         alt="country-icon"
                         width="25px"
                         height="25px">
                    <div class="dropdown-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <path d="M1.5 4L8 11.5 14.5 4H1.5z" fill="#000"/>
                        </svg>
                    </div>
                    <div class="dropdown-content">
                        <ul class="dropdown-ul">
                            {% for lang in languages %}
                                <li>
                                    <a href="/{{ lang.code }}/">{{ lang.name_local }}
                                        <img src="{% static 'language_icons/' %}{{ lang.code }}.png"
                                             alt="country-icon"
                                             width="15px"
                                             height="15px">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </form>
        </div>
    {% elif confirmed_reservation %}
        Wijzigen? {{ reservation }} {{ customer }}
    {% endif %}
</div>
</body>
</html>