{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'change_password' %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/change_password_page.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/components/footer.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/components/language_picker.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
<div class="page-container">
    <div class="textDiv" id="textDiv" style="display: none"></div>
    <div class="form-div">

        <form action="./change_password" method="post" class="form_main">
            {% csrf_token %}
            <p class="heading">{% trans "change_password" %}</p>
            <div class="inputContainer">
                <label for="email">{% trans "email" %}:</label>

                <input class="inputField" type="email" placeholder="{% trans 'email' %}"
                       name="email"
                       autocomplete="off" required>
            </div>
            <div class="inputContainer">
                <label for="old_password">{% trans "old_password" %}:</label>
                <input type="password" class="inputField" id="old_password"
                       placeholder="{% trans "old_password" %}"
                       name="old_password" autocomplete="off" required>
                <input id="show_old_password" type="checkbox" onclick="toggleVisibility('old_password')">
                <label class="show-password-span" for="show_old_password">{% trans 'show_password' %}</label>

            </div>
            <div class="inputContainer">
                <label for="new_password">{% trans "new_password" %}:</label>
                <input type="password" class="inputField" id="new_password"
                       placeholder="{% trans "new_password" %}"
                       name="new_password" autocomplete="off" required>
                <input type="checkbox" onclick="toggleVisibility('new_password')"><span
                    class="show-password-span">{% trans 'show_password' %}</span>
            </div>
            <button class="submit-button" id="button">{% trans 'submit' %}</button>
            <div class="language-picker-div">
                {% include 'components/language_picker.html' %}
            </div>
        </form>
    </div>
    {% include 'components/footer.html' %}
</div>

<script>
    function toggleVisibility(inputID) {
        var x = document.getElementById(inputID);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
</body>
</html>