{#<h2>{{ request.user_agent }}</h2>#}
{% if user.is_authenticated %}
    {% if request.user_agent.is_pc %}
        {% include 'see_reservations/see_reservations_desktop.html' %}
    {% endif %}
    {% if request.user_agent.is_mobile %}
        {% include 'see_reservations/see_reservations_mobile.html' %}
    {% endif %}
    {% if request.user_agent.is_tablet %}
        {% include 'see_reservations/see_reservations_tablet.html' %}
    {% endif %}
{% else %}
    <a href="{% url 'login' %}">Go to login page</a>
{% endif %}
