{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'change_password' %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/change_password_page.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/components/footer.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/components/language_picker.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
<div class="page-container">
    <div class="textDiv" id="textDiv" style="display: none"></div>
    <div class="form-div">
        <form action="./change_password" method="post" class="form_main">
            {% csrf_token %}
            <p class="heading">{% trans "password_change_succesfull" %}</p>
            <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>

            <a class="submit-button" id="button" href="{% url 'login' %}" style="padding-top: 20px;">{% trans 'go_to_login' %}</a>
        </form>
    </div>
    {% include 'components/footer.html' %}
</div>


</body>
</html>