.reservation-header {
    margin-left: 2%;
}

.deleted-reservation-div {
    background-color: #e65107;
    margin: 1%;
    padding: 1%;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.rollback-deletion-link {
    float: right;
    color: yellowgreen;
}

.hide-deletion-message-button {
    border: none;
    background: none;

}

.hide-deletion-message-button:hover {
    text-decoration: 3px underline;

}

.reservation-date {
    width: 15%;
    height: 5%;
    background-color: #f2f2f2;
    font-style: italic;
    font-size: 20px;
    /*margin-left: 1%;*/
}

.reservation-div {
    max-width: 85%;
    /*height: 150px;*/
    background-color: rgba(232, 112, 26, 0.7);
    /*border-radius: 1%;*/
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    margin-left: 2%;
    line-height: 0.6;
    border-radius: 2px;
    border: 2px solid #e8701a;
}


.reservation-info {
    margin-left: 2%;

}

.customer-info {
    display: none;
    margin-left: 2%;
}

.toggle-customer-info-button {
    border: none;
    background: none;

}

.toggle-customer-info-button:hover {
    text-decoration: 3px underline;

}


.toggle-customer-info-button::after {
    content: "\25BC"; /* Unicode arrow down character */
    padding-left: 5%;
    font-size: 15px;
    opacity: 1;

}

/* Show arrow icon on button hover */
.toggle-customer-info-button:hover::after {
    opacity: 1;
}

.toggle-customer-info-button.active::after {
    content: "\25B2"; /* Unicode arrow up character */
}

.cancel-booking-button {
    float: right;
    margin-right: 2%;
    color: red;
    border: none;
    background: none;
}

.cancel-booking-button:hover {
    text-decoration: 3px underline;
}