.reservation-header {
    margin-left: 2%;
}


.deleted-reservation-div {
    background-color: #e65107;
    margin: 1%;
    padding: 1%;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.rollback-deletion-link {
    float: right;
    color: yellowgreen;
}

.hide-deletion-message-button {
    border: none;
    background: none;

}

.hide-deletion-message-button:hover {
    text-decoration: 3px underline;

}

.reservation-date {
    width: 15%;
    height: 5%;
    background-color: #f2f2f2;
    font-style: italic;
    font-size: 20px;
    /*margin-left: 1%;*/
}

.reservation-div {
    max-width: 85%;
    background-color: rgba(232, 112, 26, 0.7);
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    margin-left: 2%;
    line-height: 0.6;
    border-radius: 2px;
    border: 2px solid #e8701a;
}


.cancel-booking-button {
    float: right;
    margin-right: 2%;
    color: red;
    border: none;
    background: none;
}

.cancel-booking-button:hover {
    text-decoration: 3px underline;
}


.reservations-table {
    width: 100%;
    min-height: 60%;
    border-collapse: collapse;

}

.table-nr {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
    text-align: left;
    padding-left: 2px;
}


.reservation-table-thead {

}

.reservation-table-header-row {
    border-bottom: 2px solid #363636;
}

.reservation-table-body {

}

.reservation-table-body-row {
    color: blue;
    border-bottom: 1px solid #363636;
}


.reservation-table-body-row:nth-child(even) {
    background-color: rgba(232, 112, 26, 0.1);
}

.reservation-table-body-row:hover {
    background-color: rgba(232, 112, 26, 0.4);
}

.reservation-table-body-row:nth-child(odd) {
    color: blue;
}

.reservation-table-value- {
    background-color: rgba(144, 238, 144, 0.7);

}

.reservation-table-value-booked {
    background-color: #e65107;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: purple;
}

.reservation-info {
    display: none;
    width: 20%;
    height: 20%;
    background-color: green;
    position: fixed;
    top: 40%;
    left: 20%;

}

.reservation-table-value-booked:hover .reservation-info {
    display: block;
}


th {
    word-wrap: break-word;
    max-width: 20px;
}

td {
    border-right: solid 1px #363636;
    word-wrap: break-word;
    max-width: 20px;
}

