.table-management-header-div {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.table-management-header {
    margin-left: 2%;
    float: left;
    /*width: 40%;*/
}

.table-management-container {
    width: 100%;
    height: 100%;
}

.tables-container {
    width: 10%;
    float: left;
}

.table {
    background-color: rgba(232, 112, 26, 0.8);
    border: 1px solid grey;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 8%;
    padding-top: 8%;
    margin-bottom: 1%;
}

.table-bill-div {
    float: left;
    width: 35%;
    min-height: 40%;
    background-color: lightgray;
    border: 1px solid #2e2e2e;
    margin-left: 0.5%;
}

.order-table {
    width: 100%;
    border-collapse: collapse;

}

.order-table thead {
    text-align: left;

}

.order-table th {
    border-bottom: 2px solid #000;
    height: 35px;
}

.orderline-row {
    height: 25px;
}

.table-total {
    border-top: 1px solid black;
    font-weight: bold;
    vertical-align: bottom;
    font-size: 1.1em;
    height: 40px;
}

.course-div {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 1%;
    width: 23%;
    min-height: 85px;
}

.course-button {
    width: 100%;
    min-height: 85px;
    font-weight: bolder;
}


.dishes-container {
    width: 54%;
    background-color: rgba(232, 112, 26, 0.4);
    float: right;
}

.all-dishes-div {
    background-color: rgba(232, 112, 26, 0.7);
    padding-top: 1%;
}

.dish-div {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 1%;
    width: 23%;
    min-height: 85px;
    margin-top: 1%;
    vertical-align: top;
}

.dish-button {
    width: 100%;
    min-height: 85px;
}